.play {
  display: flex;
  gap: 24px;
  padding: 24px;

  &__left,
  &__right {
    width: 50%;
    max-width: 570px;
  }

  &__left {
    padding: 14px 0;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 22px;
    color: var(--color-zinc-100);
  }

  &__label {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-weight: 500;
    font-size: 16px;
    color: var(--color-zinc-100);
  }

  &__headers {
    margin-bottom: 24px;

    &--add {
      cursor: pointer;
      font-size: 20px;
    }

    &--item {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__cookies {
    margin-bottom: 24px;

    &--field {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 16px;
      min-height: 50px;
      border: 1px solid var(--color-zinc-700);
      border-radius: 4px;
      gap: 8px 4px;

      font-size: 14px;
      color: var(--color-zinc-100);
    }

    &--item {
      display: flex;
      gap: 4px;
      align-items: center;
      border: 1px solid var(--color-zinc-700);
      padding: 2px 4px;
      border-radius: 4px;
    }

    &--input {
      flex-grow: 1;
      outline: none;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  &__checkbox {
    &--label {
      margin-bottom: 16px;
      gap: 8px;
      display: flex;
      align-items: flex-start;
      width: 100%;

      font-size: 14px;
      color: var(--color-zinc-300);

      &.node {
        margin-bottom: 0;
        width: auto;
        flex-grow: 1;
      }
    }
  }

  &__textarea {
    width: 100%;
    border: 1px solid var(--color-zinc-700);
    border-radius: 4px;
    padding: 16px;
    outline: none;
    resize: none;
    min-height: 230px;
    margin-bottom: 16px;

    font-family: monospace;
    font-size: 14px;
    color: var(--color-zinc-100);
  }

  &__nodes {
    &--select {
      display: flex;
      align-items: center;
      margin-top: 16px;
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 992px) {
    flex-direction: column;

    &__left,
    &__right {
      width: 100%;
      max-width: 100%;
    }
  } // @media only screen and (max-width : 992px)
}
