.play {
  display: flex;
  gap: 24px;
  justify-content: center;

  &__left,
  &__right {
    width: 50%;
    max-width: 570px;
  }

  &__left {
    padding: 14px 0;
  }

  &__label {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray-10);
  }

  &__checkbox {
    &--label {
      margin-bottom: 16px;
      gap: 8px;
      display: flex;
      align-items: flex-start;
      width: 100%;

      font-size: 14px;
      color: var(--color-gray-30);

      &.node {
        margin-bottom: 0;
        width: auto;
        flex-grow: 1;
      }

      & span {
        max-width: calc(100% - 28px);
      }
    }
  }

  &__nodes {
    &--select {
      display: flex;
      align-items: center;
      margin-top: 16px;
      justify-content: space-between;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @media only screen and (max-width: 992px) {
    flex-direction: column;
    max-width: 100vw;

    &__left,
    &__right {
      width: 100%;
    }

    &__checkbox {
      &--label {
        & span {
          max-width: calc(100% - 28px);
        }
      }
    }
  } // @media only screen and (max-width : 992px)
}
