.header {
  grid-area: 1 / 2 / 2 / 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border-bottom: 1px solid #44464f;

  &__left {
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 16px;
      font-weight: 600;
      color: #e2e2e9;
    }

    &--desc {
      font-size: 14px;
      color: #c5c6d0;
    }
  }

  &__right {
    display: flex;
    gap: 8px;
  }
}
