.header {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;

  &__left {
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-gray-10);
    }

    &--desc {
      font-size: 14px;
      color: var(--color-gray-30);
    }
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  @media only screen and (max-width: 768px) {
    padding: 10px 16px;
    max-width: 100vw;

    &__left {
      max-width: 40%;

      &--title {
        font-size: 14px;
      }

      &--desc {
        font-size: 12px;
      }
    }
  } // @media only screen and (max-width : 768px)
}
