.body {
  height: 100vh;
  background-color: var(--color-gray-100);
  background-image: url('../assets/blur.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #e2e2e9;
  display: flex;
  font-family: Roboto, sans-serif;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .body {
    position: relative;
    flex-direction: column;
  }
}

.body__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}
