@theme {
  --color-zinc-100: #e2e2e9;
  --color-zinc-200: #dce2f9;
  --color-zinc-300: #c5c6d0;
  --color-zinc-400: #8f9099;
  --color-zinc-500: #404659;
  --color-zinc-600: #44464f;
  --color-zinc-700: #38393f;
  --color-zinc-800: #33353a;
  --color-zinc-900: #1e1f25;
  --color-zinc-950: #121318;

  --color-purple-200: #fdd7fa;
  --color-purple-700: #593d5a;
  --color-purple-800: #592c4f;

  --color-green-500: #3cb66d;
  --color-green-600: #1da253;

  --color-blue-200: #d9e2ff;
  --color-blue-300: #b0c6ff;
  --color-blue-400: #a0bfff;
  --color-blue-500: #2e4578;
  --color-blue-600: #152e60;
  --color-blue-900: #282a2f;

  /* This can be for dark mode and fafafa for light mode. But I couldn't make this work */
  --color-lightBackground: #d1d1d1;

  --color-gray-100: '#010314';
  --color-gray-95: '#0B0D1C';
  --color-gray-90: '#171825';
  --color-gray-85: '#212230';
  --color-gray-80: '#2A2B3A';
  --color-gray-70: '#383A4D';
  --color-gray-60: '#5E6077';
  --color-gray-50: '#9FA2B9';
  --color-gray-40: '#BABCD2';
  --color-gray-30: '#DFE1F4';
  --color-gray-20: '#ECECFB';
  --color-gray-10: '#F4F4FF';
  --color-gray-0: '#FFFFFF';
}