.sidebar {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    & img {
      margin-right: 12px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    padding: 8px;

    & img {
      width: 32px;
      height: 32px;
      border-radius: 8px;
    }

    &--info {
      flex-grow: 1;
    }

    &--name {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-zinc-100);
    }

    &--email {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-zinc-300);
    }
  }
}
